*{
    box-sizing: border-box;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
    background-image: url(../images/pont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
  text-align: center;
  text-transform: uppercase;
  color: #1B4F08;
}

#start{
    position: absolute;
    top: 225px;
    width: 155px;
    height: 55px;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #1B4F08;
    color: #1B4F08;
  }
